{% extends "bootstrap/base.html" %}

{% block title %}
    Categoria
{% endblock %}
{% block body %}
    <body background="/static/fondo_e.png">
    {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="/static/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
            <a class="navbar-brand" href="#">Post-It-Note-SEAA</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/inicio">Inicio</a></li>
            <li class=""><a href="/crearNota">Nueva nota</a></li>
            <li class=""><a href="/verNotas">Ver notas</a></li>
            <li class=""><a href="/logout">Cerrar Sesión</a></li>
            
          </ul>
        </div>
      </nav>
    {% endblock %}
    {% block content %}
      <div class="conteiner">
            <div id="login-column" class="col-md-6 ">
                <div id="login-box" class="col-md-12">
                    <form action="/categoria" method="POST">
                       <center><h1>Crear categoria</h1></center> 
                        <div class='row justify-content-center align-items-center'>
                            <div class="form-group ">
                            <label for="">Ingresa nombre de categoria:</label>
                            <input type="text" class="form-control" placeholder="Nombre categoria" id="nom_categoria" name="nom_categoria">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary center-block btn-lg" value="Crear">
                    </form>   
                    <p>{{mensaje}}</p>
                 </div>
            </div>
        </div>
    
    
    {% endblock %}
{% endblock %}